.header {
  margin-bottom: 20px;
}

.btn-back {
  margin-bottom: 15px;
}

.loader {
  margin: 30px auto;
  display: block;
  border-color: #343a40;
  border-right-color: transparent;
}

.modal {
  &-header,
  &-footer {
    border: none;
  }
}

.btn-add-article {
  margin-bottom: 20px;
  vertical-align: inherit;
}

.success-add {
  color: green;
  padding-left: 20px;
  font-size: 14px;
}

.cntrl-article {
  float: right;

  button {
    font-size: 14px;
    padding: 0;

    &:focus {
      box-shadow: none;
    }
  }

  button + button {
    margin-left: 15px;
    color: red;

    &:hover {
      color: red;
    }
  }
}

.page-wrapper {
  & > div {
    margin-left: -15px;
    margin-right: -15px;

    .search-empty {
      font-size: 25px;
      color: grey;
    }
  }

  .comments-wrapper {
    margin: 25px 0;

    & > p {
      font-size: 20px;
      font-weight: 600;
    }

    .comment-card {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
      padding: 15px;
      margin-bottom: 15px;

      .avatar img {
        border-radius: 50%;
        width: 100%;
      }

      h6,
      p {
        margin-bottom: 0px;
      }

      p {
        margin-top: 5px;
      }
    }
  }
}

.post-card-wrapper {
  margin: 0 0 15px 0;

  .post-card {
    height: 100%;

    .loading {
      display: none;
    }

    .card-text {
      padding-top: 15px;
    }
  }
}
